/* Add fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Variables for colors */
:root {
    --primary: #d9f9fc; /* Primary color */
    --secondary: #176418; /* Secondary color */
    --background: #011d39; /* Background color */
}

body {
    background: var(--background); /* Set background color */
    color: var(--primary); /* Set text color */
    font-family: "Lato", sans-serif; /* Set font family */
}

h1 {
    color: var(--primary); /* Set heading color */
}

p {
    line-height: 1.8; /* Set line height */
    font-size: 1.25rem; /* Set font size */
    font-weight: 200; /* Set font weight */
    letter-spacing: 1px; /* Set letter spacing */
}

a {
    color: var(--primary); /* Set link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: white;
    font-weight: 600;
}

.hero-cont {
    min-height: 90vh; /* Set minimum height */
}

footer {
    height: 4rem; /* Set height */
}

/* Colab styles */

/* Przemo styles */
.przemo-content {
    display: flex; /* Set display to flex */
    justify-content: center; /* Center content */
    align-items: center; /* Align items */
    flex-direction: column; /* Set flex direction */
    padding: 2rem; /* Set padding */
    border: 1px solid var(--primary); /* Set border */
    border-radius: 25px; /* Set border radius */
}

.icon-xl {
    font-size: 1.5rem;
}
/* Przemo styles ends */